<h1 class="title">Thank you! The payment was successful</h1>
<p>Note: Doesn't actually take payment; just a test Stripe account.</p>
<a href="<%= root_path %>" class="button is-light mt-3">Back to Home Page</a>