<h1 class="title">Your Shopping Cart</h1>

<% if @products.any? %>
  <ul class="no-list-style">
    <% @products.each do |product| %>
      <% quantity = @cart[product.id.to_s] || 1 %> <!-- Use @cart instead of session -->
      <%= render partial: 'product_item', locals: { product: product, quantity: quantity } %>
    <% end %>
  </ul>

  <!-- Total Price -->
  <h2 class="subtitle">
    Total Price: $<%= @total_price %>
  </h2>

  <!-- Checkout Link -->
  <%= link_to 'Proceed to Checkout', checkout_new_path, class: 'button is-primary' %>
<% else %>
  <p>Your cart is empty.</p>
<% end %>