<section id="categories" class="section has-background-primary-light py-6-mobile">
  <div class="container has-text-centered">
    <div class="columns is-multiline">
      <% @categories.each do |category| %>
        <div class="column is-one-third is-half-mobile mb-4">
          <div class="card custom-card">
            <div class="card-content">
              <h3 class="title is-5 is-size-3-mobile"><%= category.name %></h3>
              <p class="content is-size-6 is-size-7-mobile"><%= truncate(category.description, length: 100) %></p>
              <%= link_to "Explore", category_path(category), class: "button is-link mt-3" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
