<!-- app/views/layouts/_footer.html.erb -->
<footer class="section has-background-light">
  <div class="container has-text-centered">
    <p>© 2024 Prairie Plants. All rights reserved.</p>
  </div>
</footer>
