<!-- app/views/layouts/_navbar.html.erb -->
<nav class="navbar has-background-success is-spaced" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item is-size-3 has-text-weight-bold has-text-success-light" style="text-decoration: none;" href="/">
        Prairie Plants 🪴
      </a>

      <button class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </button>
    </div>

    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item has-background-success is-size-5 has-text-success-light"  style="text-decoration: none;" href="<%= root_path %>">
          Home
        </a>
        <a class="navbar-item has-background-success is-size-5 has-text-success-light"style="text-decoration: none;" h href="<%= categories_path %>">
          Categories
        </a>
        <a class="navbar-item has-background-success is-size-5 has-text-success-light"style="text-decoration: none;" h href="<%= carts_path %>">
          Cart
        </a>
      </div>

      <div class="navbar-end">
        <!-- Add buttons or user actions here if needed -->
      </div>
    </div>
  </div>
</nav>
